.button{
    background-color: yellowgreen;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid green;
-webkit-box-shadow: 8px -1px 10px -4px rgba(127, 148, 130, 1);
    -moz-box-shadow: 8px -1px 10px -4px rgba(127, 148, 130, 1);
    box-shadow: 8px -1px 10px -4px rgba(127, 148, 130, 1);
}

.form{
    display: flex;
    flex-direction: column;
        text-align: center;
        gap: 15px;
       
}


.container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.name{
    color: green;
    font-weight: 500;
}

.number{
    color: green;
    font-weight: 500;
    }


